#menu-deroulant {
    width: auto;
}
#menu-deroulant li {
    display: inline-block;
}
#menu-deroulant ul li {
    display: inherit;
}
#menu-deroulant {
    width: auto;
}
#menu-deroulant li {
    display: inline-block;
}
#menu-deroulant ul li {
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
    color:#ffe600;
}
#menu-deroulant ul {
    position: absolute;
    left: -999em;
    width: auto;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    left: auto;
}
header a {
    background-color: #ff0000;
    text-align: center;
}
header nav ul  li {
    margin:0 ; 
   padding: 0; 
   width:200px;
    height:40px;        
   Line-height: 40px;
    text-align:center;
}
  header nav ul li a:hover {                                          
    background-color: #ff0000;
     opacity  :0.5;
    }
   header nav ul{
       list-style:none;
       margin: 0; 
       padding: 0;
     text-align: center; 
   }
   
    header nav ul  li a{
       display: block ;
       width: auto;
    } 
    #logo{
      background-color:#ff0000;
      Line-height: 40px;
      text-align:center;
      margin: -8px;
    }
    body{

   text-align:center;
   background-color: #e0fdff;
}
   #intro {
   background-color: #ffe600;
   color: #000000;
   width: cen
   ter;
   height:auto;
   font: 24px ;
   color-adjust: exact;
   justify-content: center;
   text-align: center;
   margin-left: 200px;                  
   margin-right: 200px;
   color:#000000;
    }
    #fondecran {
     position: fixed; 
     top: 0; 
     left: 0; 
     min-width: 100%;
     min-height: 100%;
      }
      .imga {
        background-color:#ffe600;
        display:inline-block;
        margin-left: 50px; 
        margin-right: 20px;
       } 
       .imgi {
        background-color:#ffe600;
        display:inline-block;
        margin-left: 30px; 
        margin-right: 30px;
        text-align: center;        
        width: 25em border-box;
        }
        .INGRÉDIENTS{
        list-style: none;
        text-align:left; 
        font-size: large;
        left: 50px;       
      }
    .num{
      text-align: center;
      border-radius: 50%;
      background-color: #e0625c;
      width: 34px;
      height: 34px;
      display: block;
      color: #fff;
      padding-top: 4px;
      margin: auto;
      text-align:left; 
  }
  .row {
    display:webkit-box;
    display:-ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .title_rec {
    margin-top: 40px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.prep{
    margin-top: 30px;
    margin-left: 6px;
    margin-right: 6px;
}
.num {
    text-align: center;
    border-radius: 50%;
    background-color: #ff0d00;
    width: 34px;
    height: 34px;
    display: block;
    color: #fff;
    padding-top: 3px;
    margin: auto;
}
#tt{
    background-color:#ffe600;
    display:inline-block;
    margin-left: 50px; 
    margin-right: 50px;
    text-align: center;        
    width: 35em border-box;
}
.imgo {
    background-color:#ffe600;
    display:inline-block;
    margin-left: 1000px; 
    margin-top: auto;
    position:absolute;top:250px;left: 60px;
}
.az{
    background-color:#ffe600;
    display:inline-block;
    margin-left: 1000px; 
    margin-top: auto;
    position:absolute;top:250px;left:-950px;
}   
